.form {
    display: flex;
    flex-direction: column;
    padding: 20px;
}
#rezultatas {
    max-width: 250px;
}
.dog-form {
    width: 250px;
    padding: 15px;
}

.select {
    width: 250px;
}
.border {
    width: 250px;
    height: 30px;
}
